@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=Oxanium:800&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Lacquer&display=swap');

/* * {
    background: rgb(68, 68, 68);
} */

div#cabecalho {
    text-align: center;
    /* font-family: 'Oxanium', cursive; */
    font-family: 'Lacquer', cursive;
    color: white;
    font-size: 60px;
    margin-top: -10px;
    text-shadow: 10px 10px 30px rgb(122, 121, 121);
}

body {
    background-color: rgb(194, 194, 194);
}   

div#principal {
    height: 420px;
    background-color: rgb(165, 165, 165);    
    margin:-20px 50px 50px;
    padding: 2px 25px;
    text-align: center;     
    border-radius: 29px; 
    box-shadow: -10px 10px 25px #5e5e5e;    
}


div#principal p, div#principal h4 {
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
    font-size: 15pt;
    display: inline;
}

button:focus, input:focus {
    outline: 0;
}

div#principal > input {
    font-family: 'Noto Sans KR', sans-serif;   
    width: 230px; 
    height: 45px;
    font-size: 15px;    
    padding-left: 10px;
    margin-top: 1px;
    /* display: inline; */
}

div#principal > input::placeholder{
    font-size: 15px;
    padding-left: -5px;
    margin-top: 1px;
}

div#principal > button  {
    font-family: 'Oswald', sans-serif;  
    font-size: 30px ;      
    height: 45px;
    width: 160px;
    background-color: rgb(190, 190, 190);
    color: white;
    width: 160px;
}

button.dropbtn {
    background-color: rgb(165, 165, 165);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 0.25rem outset rgb(233, 232, 232);
    border-radius: 12px;    
    width: 140px;
    cursor:pointer
}

button.dropbtn:hover  {
    background-color: rgb(46, 43, 43);
    color: rgb(248, 248, 248);        
    border: 0.25rem outset rgb(199, 199, 199);    
    transform: translateY(2px);
}

div.dropdown {
    /* position: absolute; */
    position: absolute;
    display: inline-block;
    margin-left: 100px;
    margin-top: 20px;
    /* float: right; */    
}

div.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(165, 165, 165); /*#f1f1f1;*/
    /* min-width: 160px; */
    width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 12px;
    z-index: 1;
}

div.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

div.dropdown-content a:active {
    background-color: rgb(46, 43, 43);
    border-radius: 12px;
}

div.dropdown:hover div.dropdown-content {
    display: block;
}

div.dropdown:hover div.dropbtn {
    background-color: #3e8e41;
}


div#rodape > p{
    font-family: 'Permanent Marker', cursive;
    color: rgb(87, 87, 87);
    text-align: center;
}